*{
    box-sizing: border-box;
    font-family: sans-serif;
    margin: 0;
}

.wrapper {
    max-width: 100%;
    margin: 0 auto;
    min-height: 200px;
    background-color: rgba(255,255,255,0.8);
}
@media only screen and (min-width: 1200px) {
    .wrapper{
        max-width: 1200px;
    }
}
canvas{
    max-width: 100%;
}

a{
    cursor: pointer;
    text-decoration: none;
}

ul{
    list-style: none;
}

li, a{
    display: block;
}

header{
    background-color: #615550; /*Brown Granite*/
}
footer {
    background-color: #615550; /*Brown Granite*/
}

nav ul{
    border-bottom: 1px solid #ccc;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

nav li a{
    padding: 1em;
    font-size: 200%;
    color: #fff; /*Sweet Corn*/
    transition: 0.25s;
}
nav li a:hover{
    background-color: rgba(255,255,255,0.2);
    color: #99f;
    
}


.faded-background{
    opacity: 0.5;
    position: absolute;
}